[submodule "build/UglifyJS"]
	path = build/UglifyJS
	url = git://github.com/mishoo/UglifyJS.git
[submodule "build/jshint"]
	path = build/jshint
	url = git://github.com/jshint/jshint
[submodule "build/gzip"]
	path = build/gzip
	url = git://github.com/indutny/node.gzip.git
[submodule "build/scriptjs"]
	path = build/scriptjs
	url = git://github.com/ded/script.js.git
[submodule "build/json"]
	path = build/json
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "build/sink"]
	path = build/sink
	url = git://github.com/ded/sink-test.git
